﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="width:90%; margin:0 auto">
    <table id="myTable">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Должность</th>
        </tr>
        </thead>
    </table>
</div>

@* Load datatable css *@
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "ajax": {
                "url": "/app/loaddata",
                "type": "GET",
                "datatype": "json"
            },
            "columns" : [
                { "data": "LastName", "autoWidth": true },
                { "data": "FirstName", "autoWidth": true },
                { "data": "MiddleName", "autoWidth": true },
                { "data": "PositionId", "autoWidth": true }
            ]
        });
    });
</script>
}
