﻿@model vs_mvc5_db_mssql_emploee.Models.Position

@{
    ViewBag.Title = "Удаление должности";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Должность</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
