﻿@model vs_mvc5_db_mssql_emploee.Models.Position

@{
    ViewBag.Title = "Подробная информация";
}

<h2>Подробно</h2>

<div>
    <h4>Должность</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.PositionId }) |
    @Html.ActionLink("Назад", "Index")
</p>
