﻿@model IEnumerable<vs_mvc5_db_mssql_emploee.Models.Position>

@{
    ViewBag.Title = "Перечень должностей";
}

<h2>Перечень должностей</h2>

<table class="table">
    <tr>
        <th>Должность</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.PositionId }) |
                @Html.ActionLink("Подробно", "Details", new { id=item.PositionId }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.PositionId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
</p>
