﻿@using vs_mvc5_db_mssql_emploee.Helpers
@model vs_mvc5_db_mssql_emploee.Models.Emploee

@{
    ViewBag.Title = "Удаление сотрудника";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-invalid="True">x</button>
    <h4 class="modal-title">Удаление</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <h3>Вы уверены, что хотите удалить запись?</h3>
        <div>
            <h4>Сотрудник</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Должность
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Position.PositionName)
                </dd>

                <dt>
                    Фамилия
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    Имя
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    Отчество
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>

            </dl>

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Назад", "Index")
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Ajax.DeleteLinks(Model.EmploeeId, x => Url.Action("Delete", new { id = Model.EmploeeId, data_modal = "" }))
                        <input type="submit" value="Удалить" class="btn btn-danger btn-sm"/>
                        <button class="btn btn-warning btn-sm" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
