﻿@model vs_mvc5_db_mssql_emploee.Models.Emploee

@{
    ViewBag.Title = "Подробная информация";
}

<h2>Подробно</h2>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.PositionName)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.EmploeeId }) |
    @Html.ActionLink("Назад", "Index")
</p>
