﻿@model vs_mvc5_db_mssql_emploee.Models.IndexViewModel

@{
    ViewBag.Title = "Список сотрудников";
}

<script src="/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>

<h2>Список сотрудников</h2>

<div id="IndexPages">
    @{
        Html.RenderPartial("IndexPages", Model);
    }
</div>

<p>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary", data_modal = "" })
</p>

<!-- якорь для модального окна -->
<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/modalwindows.js"></script>