﻿@using vs_mvc5_db_mssql_emploee.Models
@using vs_mvc5_db_mssql_emploee.Helpers
@model IndexViewModel
@{
    ViewBag.Title = "IndexPages";
}

<div class="btn-group">
    @Ajax.PageLinks(Model.PageInfo, x => Url.Action("Index", new { pageNum = x }))
</div>

<table class="table">
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Должность</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Emploees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.PositionName)
            </td>
            <td>
                @*@Html.ActionLink("Удалить", "Delete", new { id = item.EmploeeId })*@
                @Html.ActionLink("Удалить", "Delete", new { id = item.EmploeeId }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-remove", data_modal = "" })
            </td>
            @*<td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.EmploeeId }) |
                @Html.ActionLink("Подробно", "Details", new { id=item.EmploeeId }) |
                @Html.ActionLink(" Удалить", "Delete", new { id=item.EmploeeId }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-remove" } )
            </td>*@
        </tr>
    }
    @if (Model.Emploees.Count() != Model.PageInfo.PageSize) {
        for (int i = 0; i < Model.PageInfo.PageSize - Model.PageInfo.TotalItem % Model.PageInfo.PageSize; i++)
        {
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        }
    }

</table>

<script src="~/Scripts/modalwindows.js"></script>